<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css"/>
    
</head>
<body>
    <h1></h1>
    <h1>iLoveyou</h1>
    <section>No 1 Dating WebSite</section>
    <div class="description" >More than 100 thousand users have joined</div> <ng-form>LoveHub</ng-form>

    <h1>Sign up</h1>
    <section class="inputForm">


        <p>First Sign In</p>
        <input type="button" id="show" value="Log In" />
        <script type="text/javascript" src="~/JavaScript/JavaScript.js"></script>
        <div id="container" class="form_show">
            <img src="~/images/lovehub.jpg" />
            <form>
                <div class="form-input">
                    <i class="material-icons">home</i>
                    <input type="text" name="username" placeholder="Enter username" />
                </div>
                <div class="form-input">
                    <i class="fa fa-lock"></i>
                    <input type="text" name="password" placeholder="Enter password" />
                </div>
                <input class="btn-login" type="submit" name="submit" value="Enter" />               
            </form>
        </div>
    </section>
    
</body>

</html>

    

